@import '../../scss/variables/colors.scss';
@import '../../scss/variables/mixins.scss';

.list {
  gap: 10rem;
}
.item {
  &.isActive {
    pointer-events: none;
    color: $black;
    background: $white;
    &::after {
      background: $white;
    }
  }
}
