$white: #fff;
$black: #575757;
$gray: #868686;
$lightGray:rgba(134, 135, 134, 0.4);
$lightGray2:rgba(134, 135, 134, 0.1);
$mint: #20E5A0;
$lightMint: rgba(32, 229, 160,0.1);
$bg:   linear-gradient(107deg, #292929 20%, #003031 100%);
$itemImgBg:  linear-gradient(183deg, #525252 0%, #003d3b 100%);
$bottleBg:  linear-gradient(183deg, #004d44 0%, #757575 100%);
$inputBg:  linear-gradient(183deg, #004d446b 0%, #7575758a 100%);
